@import url(http://fonts.googleapis.com/css?family=Contrail+One);
@import url(http://fonts.googleapis.com/css?family=Baumans);

body {
  background-image: url(../images/car-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

img {
  max-width: 100%;
}

h1 {
  font-family: Contrail One;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  line-height: 150%;
}

h2 {
  font-family: Contrail One;
  font-size: 25px;
  text-align: center;
  line-height: 150%;
}

nav {
  font-family: Baumans;
  font-weight: bold;
  font-size: 25px;
  line-height: 150%;
}

.page-container {
  max-width: 960px;
  margin: 0 auto;
  background-color: hsla(0, 0%, 18%, 0.79);
  margin-top: 2%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.make-inline-block {
  display: inline-block;
}

.no-clear {
  clear: none;
}

.yes-clear {
  clear: both;
}

.social-icons {
position: absolute; top: 35%; left: 87%;

}

.main-content {

}

.navigation {
  /*background-color: gray;*/
  margin-left: 1.6%;
}

.navigation a {
  text-decoration: none;
  color: #0a0a0a;
}

.site-header {
  /*background-color: red;*/
}

.bet-info {
  /*background-color: green;*/
}

.game {
  /*background-color: yellow;*/
}

.footer-section {
  /*background-color: black;*/
  background-color: hsla(0, 0%, 18%, 0.94);
}

.driver-button {
  margin: 0.25%;
}
